:root {
    --gsmarena-red: #d50000;
    --gsmarena-dark-red: #b71c1c;
    --link-color: #555;
}

.brandmenu-v2 {
    background: #969899;
    background: linear-gradient(
180deg,hsla(180,3%,92%,.9) 16%,hsla(180,4%,89%,.9) 87%);
    margin-left: -10px;
    min-height: 314px;
}

#cdn-hosting span, .brandmenu-v2, .label-text, .pad .head-icon, .pad a, .social-share, i.icon {
    position: relative;
}

.l-box {
    margin-bottom: 10px;
}

a, abbr, acronym, address, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

div {
    display: block;
}

#header:after, #header:before, .clear, .clear:after, .clear:before, .clearfix:after, .clearfix:before, .col:after, .col:before, .compare-candidates:after, .compare-candidates:before, .l-container:after, .l-container:before, .l-grid:after, .l-grid:before, .module:after, .module:before, .row:after, .row:before {
    content: "";
    display: table;
    clear: both;
}

*, :after, :before {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}
#header:after, #header:before, .clear, .clear:after, .clear:before, .clearfix:after, .clearfix:before, .col:after, .col:before, .compare-candidates:after, .compare-candidates:before, .l-container:after, .l-container:before, .l-grid:after, .l-grid:before, .module:after, .module:before, .row:after, .row:before {
    content: "";
    display: table;
    clear: both;
}
*, :after, :before {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}